<!DOCTYPE html>
<html>
    <head>
        <title>SIGNUP</title>
    </head>
    <body>
        <form action = "/join" method = "POST"></form>
        <h1>Hello! Sign Up Here</h1>
        <hr>
            <b>ID</b><br>
            <input id="text" type="text" name="id" placeholder="이메일"><br>
            <b>name</b><br>
            <input id="text" type="name" name="name" placeholder="이름"><br><br>
            <b>PW</b><br>
            <input id="text" type="password" name="pw" placeholder="비밀번호"><br>
            <b>PW check</b><br>
            <input id="text" type="password" name="pw" placeholder="비밀번호 확인"><br>
        </form>
    </body>
</html>